<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to HEMI  Ansible</title>
  <meta name="description" content="Ansible Test Content">
  <meta name="author" content="Ansible">
</head>

<body>
  <h1> HG Home Page on server: {{ ansible_hostname }}</h1>
  <h2> HG Home Page on server: {{ ansible_hostname }}</h2>
  <h3> HG Home Page on server: {{ ansible_hostname }}</h3>
</body>
</html>
